/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents

    00. Framework   
    01. Navbar
    02. Slider
    03. Features
    04. Get Started
    05. Video
    06. Portfolio
    07. Our Team
    08. Testimonials
    09. Price Table
    10. Contact
    11. Footer
    12. Page Loading
    13. Media Query
*/

body {
    font-family: "Gotham Rounded";
    background: #fff;
}

/*--------------------------------------------------
[0.Framework]
--------------------------------------------------*/
/* Typograpy */
.h1-w { font-size: 40px; color: #ffffff; font-weight: 700; line-height: 50px; padding: 0; margin: 0;}
.h1-b { font-size: 40px; color: #3f4451; font-weight: 700; line-height: 50px; padding: 0; margin: 0;}
.h2 { font-size: 30px; color: #3f4451; font-weight: 600; line-height: 40px; margin: 0; padding: 0;}
.h2-w { font-size: 25px; font-weight: 700; margin: 0; padding: 0; color: #ffffff;}
.p-17-w { font-size: 17px; font-weight: 400; margin: 0; padding: 0; color: #ffffff;}
.h3-bk { font-size: 17px; font-weight: 600; color: #3f4451; margin: 0; padding: 0;}
.h3-blk-sb { font-size: 18px; font-weight: 600; color: #222d39; margin: 0; padding: 0;}
.p-w { font-size: 15px; font-weight: 400; color: #ffffff; line-height: 30px; margin: 0; padding: 0;}
.p-b { font-size: 15px; font-weight: 400; color: #3f4451; line-height: 30px; margin: 0; padding: 0;}
.p-bk { font-size: 15px; font-weight: 300; color: #677294; line-height: 30px; margin: 0; padding: 0;}
.pb-Q{font-size: 15px; font-weight: 400; color: #37416f; line-height: 30px; margin: 0; padding: 0;}
.p-acrd{font-size: 1rem;background: #815ee8; color: white;border: 1px solid rgba(120, 130, 140, 0.13);height: auto;font-family: 'Poppins', sans-serif;font-weight: 400;margin: 0 !important;border-radius: 0;padding: 10px 5px;}
.p-new { font-size: 15px; font-weight: 300; color: #677294; line-height: 24px; margin: 0; padding: 0; padding-bottom: 20px;}
.span-sm { font-size: 14px; font-weight: 300; color: #677294; margin: 0; padding: 0;}
.p-re{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
/* Padding & Margin */
.mb-20 { margin-bottom: 20px;}
.mb-30 { margin-bottom: 30px;}
.mt-60 { margin-top: 60px;}
.mt-25 { margin-top: 25px;}
.m-section-120 {margin: 120px 0;}
.mb-120 { margin-bottom: 120px;}
.mt-100 { margin-top: 100px;}
.mt-30 { margin-top: 30px;}
.mb-15 { margin-bottom: 15px;}
.mb-10{ margin-bottom: 10px;}
.mb-20{ margin-bottom: 20px;}
.pb-20{ padding-bottom: 20px;}
.pb-60{ padding-bottom: 60px;}
.pb-30{ padding-bottom: 30px;}
.pt-20 { padding-top: 20px;}
.p-20{ padding: 20px;;}
.pr-10 { padding-right: 10px;}
.pl-60 { padding-left: 60px;}
.pt-60 { padding-top: 60px;}
.mt-20 { margin-top: 20px;}
.mt-25 { margin-top: 25px;}
.mt-15 { margin-top: 15px;}
.pr-2{padding-right: 2px;}
.pr-100{padding-right: 100px;}
.mb-40 { margin-bottom: 40px;}
.mb-60 { margin-bottom: 60px;}
.w-80 { width: 200px;}
.w-70 { width: 70px;}
.fnt-w-600{font-weight: 600 !important;}
.fnt-w-500{font-weight: 500 !important;}
.bor-0{border: none !important;}

.t-w{
    color: #fff !important;
}
.t-v{
    color: #815ee8 !important;
}
.txt-gy{
    color: #d5d5d5 !important;
}
.txt-r{
    color: #ce1b31 !important;
}
.star_checked{
    color: orange;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.pb-60{
    padding-bottom: 60px;
}
.pt-180{
    padding-top: 180px !important;
}
.box-padding{
    padding: 0px 25px;
}
.philo-padding{
    padding: 30px 0px;
}
.txt-Left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.gold{
    color:#FFC107 !important;
}
.platinum{
    color:#ddd !important;
}
.silver{
    color:#c0c0c0 !important;
}
.violet{
    color:#673AB7 !important;
}
.red{
    color:rgb(228, 0, 68) !important;
}
/* Box Shadow */
.bx-shw { box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.15); }
/* Buttons */
.btn-white {
    background: #ffcb57;
    padding: 12px 35px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.btn-green{
    background: #70cc06;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 12px 35px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.rounded-btn{
    background: #815ee8;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 12px 30px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.rounded-btn:hover{
    background: #815ee8;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 12px 30px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.blogPostButton{
    background: #815ee8;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease-in-out;
    margin: 0px 5px;
}
.rep-cancel{
    padding: 5px 15px !important;
}
.blogPostButton:hover{
    background: #815ee8;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.yes-btn, .no-btn{
    background: #ffffff;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 0px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #677294 ;
    font-size: 15px;
    font-weight: 400;
    color: #677294;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.h3-new{
    font-size: 18px;
    color: #222d39;
    padding: 0;
    letter-spacing: 1px;
}
.btn-white:hover {
    transform: translateY(-10px);
    color: #222d39;
}
a {
    text-decoration: none !important;
}
.btn-color {
    background: -webkit-linear-gradient(top left,#8066dc 0%,#5040a0 100%);
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 12px 35px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.btn-color:hover {
    color: #ffffff;
    transform: translateY(-10px);
}
/* Animation */
.upDown {
    animation: up-down 2s infinite;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

/*--------------------------------------------------
[1. Start Navbar]
--------------------------------------------------*/
.navbar {
    padding: 20px 0;
    background: linear-gradient(135deg, rgba(22, 37, 43, 0) 0%, rgba(22, 37, 43, 0) 100%);
}
.navbar .nav-item {
    padding: 0;
    margin: 0;
}
.navbar .nav-item .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
}
.footer-nav >.navbar {
    padding: 20px 0;
    background: #fff !important;
}
.footer-nav .navbar .nav-item .nav-link {
    color: #222d39 !important;
   
}
/*--------------------------------------------------
[2. Start Slider]
--------------------------------------------------*/
.slider {
    background: url(../img/slider_bg.png) center center no-repeat;
    height: 108vh;
    position: relative;
    background-size: cover;
}
.philosophy_img{
    background: url(../img/philo_img.png) center center no-repeat;
    height: 75vh;
    position: relative;
}
#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  /*--------------------------------------------------
[3. Start Features]
--------------------------------------------------*/
.features {
    background: #f6f5fb;
    padding: 30px 0;
}

  /*--------------------------------------------------
[4. Start Get Started]
--------------------------------------------------*/
.get-started {
    background: url(../img/bg/get-started-bg.png) center center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px 0;
}

/*--------------------------------------------------
[5. Start Video]
--------------------------------------------------*/
.video {
    background: url("../img/bg/video-bg.png") center center no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.video-icon .icon {
    background: #ffffff;
    color: #507bf5;
    display: inline;
    font-size: 20px;
    padding: 22px 28px;
    border-radius: 200px;
    position: relative;
}

/* Pulse Animation */
.pulse {
    animation: pulse 1s infinite;
    animation-duration: 2s;
}

/* Keyframes */
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/*--------------------------------------------------
[6. Start Portfolio]
--------------------------------------------------*/
.portfolio .single-portfolio-item {
    position: relative;
    padding: 0;
}

.portfolio .single-portfolio-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #333333;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.portfolio .single-portfolio-item .overlay .content {
    font-size: 20px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    transition: all 0.2s ease-in;

}

.portfolio .single-portfolio-item .overlay .content h3 {
    font-size: 18px;
    font-weight: 500;
    color: #444444;
    padding: 0;
    margin: 0;
}

.portfolio .single-portfolio-item .overlay .content p {
    font-size: 14px;
    font-weight: 400;
    color: #8066dc;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.portfolio .single-portfolio-item .overlay .content a {
    color: #555555;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.portfolio .single-portfolio-item:hover .overlay {
    opacity: 0.95;
}


/*--------------------------------------------------
[7. Start Our Team]
--------------------------------------------------*/
.team .box {
    position: relative;
    border-radius: 15px;
}
.team .box .overlay {
    position: absolute;
    background: -webkit-linear-gradient(top,#8066dc 0%,#5040a0 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.team .box:hover .overlay {
opacity: .99;
}
.team .box .overlay .social {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%,-50%);
    padding: 15px 25px;
    border-radius: 50px;
    background: #ffffff;
    width: 60%;
    opacity: 0;
    transition: all .4s ease-in-out
}
.team .box:hover .social {
    opacity: 1;
    margin-top: 0;
}
.team .box .overlay .social a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.team .box .overlay .social .icon {
    font-size: 20px;
    text-decoration: none;
    color: #8c8b8f;
    padding: 0 5px;
    transition: all .4s ease-in-out;
}
.team .box .overlay .social .icon:hover {
    color: #5040a0;
}
.team .box .info {
    padding: 25px 0;
}

.philosophy {
  background-color:  #ccf0fd;
}

.philosophy .carousel-item h3 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #6d799a;
}
.philosophy .carousel-item h4 {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.philosophy .carousel-item p {
    font-size: 15px;
    font-weight: 400;
    color: #677294;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.phil-col-padd{
    padding: 0px 50px;
}
.philosophy .carousel-indicators {
    bottom: -40px;
}
.philosophy .carousel-indicators li {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 30px;
    height: 12px;
    width: 12px;
    margin: 0 6px;
}
.philosophy .carousel-indicators .active {
    background-color: #2e2e2e;
    border: 2px solid #2e2e2e;
    box-shadow: 1px 1px 6px #6a83eb;
}
.philosophy .carousel-indicators {
    position: absolute;
    right: 0;
    
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: left !important;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 0 !important;
    list-style: none;
    margin-top: 30px;
}


/*--------------------------------------------------
[8. Start Testimonials]
--------------------------------------------------*/
.testimonials {
    padding: 100px 0 100px;
    background: #fffbe8;
    background-size: cover;
    color: #3f4451;
}
.testimonials .carousel-item h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 6px;
}
.testimonials .carousel-item h4 {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.testimonials .carousel-item p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 15px;
}
.testimonials .carousel-indicators {
    bottom: -40px;
}
.testimonials .carousel-indicators li {
    background-color: #ddd;
    border-radius: 30px;
    border: 2px solid #ddd;
    height: 12px;
    width: 12px;
    margin: 0 6px;
}
.testimonials .carousel-indicators .active {
    background-color: #2e2e2e;
    border: 2px solid #2e2e2e;
    box-shadow: 1px 1px 6px #6a83eb;
}
.testimonials .control span {
    cursor: pointer;
    margin-top: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #6a83eb;
    background: #ffffff;
    font-size: 20px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.06);
    opacity: 1 !important;
}

/*--------------------------------------------------
[9. Start Price Table]
--------------------------------------------------*/

.Participating .left-bx {
    border-radius: 80px 0px 0px 80px;
    padding: 20px 0;
    border: 1px solid #ddd;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
 }
 .Participating .right-bx{
    border-radius: 0px 80px 80px 0px;
    padding: 20px 0;
    border: 1px solid #ddd;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
 }
 .Participating .left-bx h4 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  

}
.Participating .right-bx h4 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  
}

.disc_illumiya .box {
    border-radius: 4px;
    padding: 20px 20px;
    border: 1px solid #ebebeb;
}
.disc_illumiya .box ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 35px;
}
.disc_illumiya .box ul li {
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #677294;
    margin-bottom: 10px;
}

.disc_btn{
    background: #fff;
    box-shadow: 1px 1px 25px 0px rgba(182,147,199,0.17);
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    color: #5040a0;
    text-decoration: none;
    transition: all .4s ease-in-out;
    border: 1px solid #5040a0;
    margin-bottom: 15px;
}
.active_btn{
    padding: 20px 70px;
    border-radius: 100px;
    color: #fff;
    background: #2e2e2e;
    margin-bottom: 30px;
    margin-top: 15px;
    border: none;
    z-index: 1;
    margin-left: -20px;
    margin-right: -20px;
    outline: none !important;
}
.inactive_btn{
    padding: 20px 70px;
    border-radius: 100px;
    color: #2e2e2e;
    background: #dedede;
    margin-bottom: 30px;
    margin-top: 15px;
    border: 0;
    margin-left: -20px;
    margin-right: -20px;
    outline: none !important;
}
.boost_section{
    background: url("../img/philo_bg.png") center center no-repeat;
    background-size: cover;
}
.boost_section .box {
    border-radius: 15px;
    padding: 50px 25px;
    margin-top: 15px;

}

.boost_section .box h4 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
   
}
.boost_section .box h4 span {
    font-size: 16px;
}
.boost_section .box h5 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #757575;
    padding: 0;
}

.price .box {
    border-radius: 15px;
    padding: 50px 25px;
}

.price .box h4 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
   
}
.price .box h4 span {
    font-size: 16px;
}
.price .box h5 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #757575;
    padding: 0;
}
.price .box h3{
    font-size: 21px;
    font-weight: 600;
    color: #3f4451;
    padding: 0;
}
.price .box ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 35px;
}
.price .box ul li {
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #677294;
    margin-bottom: 10px;
}

/*--------------------------------------------------
[10. Start Contact]
--------------------------------------------------*/
.contact {
    background: #fff;
    background-size: cover;
    padding: 120px 0;
}
.contact .heading {
    margin-bottom: 50px;
}
.contact .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #444a57;
    margin-top: 15px;
    margin-bottom: 10px;
}
.contact .heading p {
    font-size: 16px;
    color: #888d99;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}
.contact .form-control {
    padding: 30px;
    font-size: 16px;
    margin-bottom: 15px;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px 45px;
    border-radius: 45px;
    text-decoration: none;
    display: inline-block;
    transition: all .4s ease-in-out;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    background: #ce1b31;
    color: #ffffff;
}

.ribbon {
    width: 10%;
    height: 10%;
    position: relative;
    float: left;
    margin-bottom: 30px;
    /* background: url(https://html5book.ru/wp-content/uploads/2015/10/snow-road.jpg); */
    background-size: cover;
    text-transform: uppercase;
}

.ribbon2{
    background: #c0c0c0;
}
.ribbon3{
    background: #FFC107;
}
.ribbon4{
    background: #ddd;
}
.ribbon2, .ribbon3,.ribbon4{
    width: 50px;
    padding: 10px 0;
    position: absolute;
    top: -10px;
    left: 0px;
    text-align: center;
    border-top-left-radius: 3px;
}
.ribbon2:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 25px solid #c0c0c0;
    border-right: 25px solid #c0c0c0;
    border-bottom: 30px solid transparent;
}
.ribbon2:before {
    height: 0;
    width: 0;
    right: -10.5px;
    top: 0.1px;
    border-bottom: 10px solid rgb(173, 173, 173);
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
}
.ribbon3:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 25px solid #FFC107;
    border-right: 25px solid #FFC107;
    border-bottom: 30px solid transparent;
}
.ribbon3:before {
    height: 0;
    width: 0;
    right: -10.5px;
    top: 0.1px;
    border-bottom: 10px solid rgb(238, 184, 22);
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
}
.ribbon4:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 25px solid #ddd;
    border-right: 25px solid #ddd;
    border-bottom: 30px solid transparent;
}
.ribbon4:before {
    height: 0;
    width: 0;
    right: -10.5px;
    top: 0.1px;
    border-bottom: 10px solid rgb(194, 194, 194);
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
}
/*--------------------------------------------------
[11. Start Footer]
--------------------------------------------------*/
.footer {
    background: -webkit-linear-gradient(top left,#8066dc 0%,#5040a0 100%);
    padding: 40px 0;
}
.footer h2 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
}



/*--------------------------------------------------
[12. Start Page Loading]
--------------------------------------------------*/
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/loader/preloader.svg") center no-repeat #fff;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .navbar {
        background: -webkit-linear-gradient(top left,#8066dc 0%,#5040a0 100%) !important;
        padding:30px;
    }
    .navbar .nav-item {
        margin: 0;
        padding: 0;
        margin: 10px 0;
    }
    .navbar .nav-item .nav-link {
        margin: 0;
    }
    .slider {
        height: auto;
        padding: 160px 0 120px 0;
        text-align: center;
    }
    .slider .text {
        margin-bottom: 50px;
    }
    .slider .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about {
        text-align: center;
    }
    .about .image {
        margin-bottom: 50px;
    }
    .features {
        text-align: center;
        padding: 120px 0 80px 0; 
    }
    .features .box {
        margin-bottom: 40px;
    }
    .about .work-img {
        margin: 0;
        margin-top: 50px;
    }
    .benefits {
        margin-bottom: 80px;
    }
    .benefits .box {
        margin-bottom: 40px;
    }
    .team {
        margin-bottom: 80px;
    }
    .team .box {
        margin-bottom: 40px;
    }
    .team .content img {
        width: 100%;
    }
    .testimonials .control {
        display: none;
    }
    .price {
        margin-bottom: 80px;
    }
    .price .box {
        margin-bottom: 40px;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .navbar {
        background: -webkit-linear-gradient(top left,#8066dc 0%,#5040a0 100%) !important;
        padding:30px;
    }
    .navbar .nav-item {
        margin: 0;
        padding: 0;
        margin: 10px 0;
    }
    .navbar .nav-item .nav-link {
        margin: 0;
    }
    .slider {
        height: auto;
        padding: 160px 0 120px 0;
        text-align: center;
    }
    .slider .text {
        margin-bottom: 50px;
    }
    .slider .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about {
        text-align: center;
    }
    .about .image {
        margin-bottom: 50px;
    }
    .features {
        text-align: center;
        padding: 120px 0 80px 0; 
    }
    .features .box {
        margin-bottom: 40px;
    }
    .about .work-img {
        margin: 0;
        margin-top: 50px;
    }
    .benefits {
        margin-bottom: 80px;
    }
    .benefits .box {
        margin-bottom: 40px;
    }
    .team {
        margin-bottom: 80px;
    }
    .team .box {
        margin-bottom: 40px;
    }
    .team .content img {
        width: 100%;
    }
    .testimonials .control {
        display: none;
    }
    .price {
        margin-bottom: 80px;
    }
    .price .box {
        margin-bottom: 40px;
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .navbar {
        background: -webkit-linear-gradient(top left,#8066dc 0%,#5040a0 100%) !important;
        padding:30px;
    }
    .navbar .nav-item {
        margin: 0;
        padding: 0;
        margin: 10px 0;
    }
    .navbar .nav-item .nav-link {
        margin: 0;
    }
    .slider {
        height: auto;
        padding: 160px 0 120px 0;
        text-align: center;
    }
    .slider .text {
        margin-bottom: 50px;
    }
    .slider .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about {
        text-align: center;
    }
    .about .image {
        margin-bottom: 50px;
    }
    
    .about .work-img {
        margin: 0;
        margin-top: 50px;
    }
    .team {
        margin-bottom: 80px;
    }
    .team .box {
        margin-bottom: 40px;
    }
    .team .content img {
        width: 100%;
    }
    
    .testimonials .control {
        display: none;
    }
    .price {
        margin-bottom: 80px;
    }
    .price .box {
        margin-bottom: 40px;
    }
 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    padding: 15px;
}

.card-bg-grey{
    background: #f8f8f8;
    min-height: 390px;
    max-height: 390px;
}

.news-ribbon{
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    left: 0px;
    top: 20px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    background: #fff200;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

.you_will_learn{
        margin: 0;
        padding: 0;
}
.you_will_learn > li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
 }
.you_will_learn > .fa-check{
    color: #ddd;
}

.ebook-card{
    border: 0 !important;
}

.ebook-card > .card-footer{
    border: 0 !important;
    background: #fff !important;
}

.card-h{
    max-height: 76px;
    min-height: 76px;
}

.top-rated{
    background-color: #f8f8f8;
}
.round {
    line-height: 45px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
}
.round img {
    border-radius: 100%;
}
.comment-text {
    padding: 15px 15px 15px 20px;
}
.label-light-info {
    background-color: #cfecfe;
    color: #009efb;
}
.comment-footer .action-icons a {
    padding-left: 15px;
    vertical-align: middle;
    color: #8773c3;
    font-weight: 300;
    font-size: 14px;
}
.comment-footer .action-icons a .fa {
    padding-left: 5px;
    padding-right: 5px;
}
.comment-text  .text-muted {
    color: #dcdcdc!important;
}
textarea.form-control {
    height: auto;
    outline: none !important;
    font-weight: 300;
    margin-bottom: 15px;
}

form.comment_reply{
    display: none;
  }

  .slick-dots {
    position: absolute;
    bottom: auto !important;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}
.comment_reply textarea .form-control{
    display: block !important;
    box-sizing: padding-box !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-image: initial !important;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
    overflow: hidden !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border-radius: 0;
    font-size: 14px;
    outline: none !important;
}
#forumDiv .autoExpand{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.autoExpand{
    display: block !important;
    box-sizing: padding-box !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-image: initial !important;
    border-bottom: 1px solid rgb(221, 221, 221) !important;
    overflow: hidden !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border-radius: 0;
    font-size: 14px;
    outline: none !important;
}
input:focus, input.form-control:focus, textarea:focus, textarea.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.comment_reply .round{
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.comment_reply img{
    width: 35px;
}

/* blog_page */
#blog > .container .card > a {
    text-decoration: none !important;
    cursor: pointer !important;
    color: inherit !important;
}
#blog > .container .card > a:hover {
    text-decoration: none !important;
    cursor: pointer !important;
    color: inherit !important;
}
#blog > .container .card:hover {
    border: 1px solid #fff;
    box-shadow: 1px 1px 25px #ddd;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}
.slick-track .card:hover{
    border: 1px solid #fff;
    box-shadow: 1px 1px 10px #ddd;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}
.slick-track .card > a {
    text-decoration: none !important;
    cursor: pointer !important;
    color: inherit !important;
}
.slick-track .card > a:hover {
    text-decoration: none !important;
    cursor: pointer !important;
    color: inherit !important;
}
.comment {
    border-bottom: 1px dotted #DDDDDD;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-bottom: 25px;
    font-size: 14px;
    color: #333333;
    text-align: left;
}
.account-photo {
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid rgba(0,158,255,0.65);
    border-color: #ccc;
}
.account-reply-photo{
    position: relative;
    width: 55px;
    height: 55px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid rgba(0,158,255,0.65);
    border-color: #ccc;
}
.comment .photo {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.sub-comment .account-reply-photo .photo{
    height: 50px;
    width: 50px;
    border-radius:50%
}

.comment .username {
    font-size: 16px;
    word-break: break-word;
}
.comment ul, .sub-comment ul  {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 16px;
}
.comment ul li.owner, .sub-comment ul li.owner {
    color: #ffcd02;
    border: 1px solid #ffcd02;
}
.comment ul li.user-role, .sub-comment ul li.user-role {
    float: left;
    margin: 2px 0 0 5px;
    padding: 1px 7px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 17px;
    height: 18px;
    border-radius: 3px;
    cursor: default;
    padding: 0 6px;
}
.show-more{
    border: 1px #ddd solid;
    margin: 15px 0px;
    background-color: #f8f6ff!important;
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
}
.show-more-btn{
    color: #725bca;
}
.author-text {
    width: auto;
    word-wrap: break-word;
}
.comment-time{
    color: #999999;
    font-weight: 300;
    font-size: 14px;
}
.comment-widgets > .text > .active{
    max-height: max-content !important;
    overflow: hidden;
}
.card{
    height: 100%!important;
}